$pizza-size: 300px;

body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  font-size: 20px;
  height: 40px;
}
.loading{
  background-color: blue ;
}
.pizza{
  width: $pizza-size;
  height: $pizza-size;
  position: relative;
  background-color: yellow;
  border-radius: 50%;
  background: url('https://t3.ftcdn.net/jpg/01/71/84/50/240_F_171845099_HX3VakW5hyUBjGU7uoo7QwcqQg6JBJwI.jpg')
}
.peace{
  height: 2px;
  background-color: white;
  width: 150px;
  top: 50%;
  position: absolute;
  transform-origin: 100%;
}